.header {
  height: 100vh;
  background: url("https://github.com/adeshdatir99ad/foodorder/blob/main/public/header_img.jpg?raw=true");
  background-size: cover;
  position: relative;
}

.header-contents {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.9vw;
  max-width: 35%;
  bottom: 9%;
  left: 5vw;
  animation: fadeIn 3s;
  background: rgba(0, 0, 0, 0.5); /* Added background for readability */
  padding: 20px;
  border-radius: 10px;
}

.header-contents h2 {
  font-weight: 500;
  color: white;
  font-size: max(4.5vw, 22px);
}

.header-contents p {
  color: white;
  font-size: 1.2vw;
  margin: 10px 0; /* Added margin for spacing */
}

.header-contents button {
  border: none;
  color: #747474;
  font-weight: 500;
  padding: 1vw 2.3vw;
  background-color: white;
  font-size: max(1vw, 13px);
  border-radius: 50px;
  cursor: pointer;
}

.header-contents button:hover {
  background-color: #fff4f2;
  transform: scale(1.05);
}

@media (max-width: 1050px) {
  .header {
    height: 30vh;
    background-size: contain;
    background-position: bottom;
  }
  .header-contents {
    max-width: 45%;
    gap: 1.3vw;
  }
}

@media (max-width: 750px) {
  .header-contents {
    bottom: 70%;
    left: 5vw;
  }
  .header-contents h2 {
    font-size: max(4.5vw, 15px);
  }
  .header-contents p {
    display: none;
  }
  .header-contents button {
    padding: 1.5vw 2vw;
    font-size: max(1vw, 12px);
  }
}

/* Keyframes for fadeIn animation */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
